#nav, #nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  background: #515151;
  float: left;
  width: 100%;
}
#nav li {
  float: left;
  position: relative;
  background: #515151;
  back\ground: none;
}

#nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 120px;
  padding: 4px 10px;
  background: url(/images/dot.png) repeat-y right;
}
#nav a:hover {
  color: #000;
  background: #ccc;
}
#nav li:hover,
#nav li.jshover {
  background: #333;
}

#nav li ul {
  display: none;
  position: absolute;
  background: url(/images/fone-tr.png);
  padding: 8px 0;
  width: 205px;
}
#nav li li a {
  width: 185px;
  background: none;
}
#nav li:hover ul,
#nav li.jshover ul {
  display: block;
}

#nav li:hover li ul,
#nav li.jshover li ul {
  display: none;
  width: 205px;
  top: -9px;
  left: 205px;
  lef\t: 205px;
}
#nav li:hover li:hover ul,
#nav li.jshover li.jshover ul {
  display: block;
}
