*
{
padding:0;
margin:0;

}

img, div, a, input {
behavior: url("css/resources/iepngfix_v2/iepngfix.htc")
}

a:hover{
  text-decoration:none;
  color:#cccccc;
}
a.active
{
  color:#FECA45;
}

body
{
  background-color: #761D4F;
}
table {  width:100%; }
div, td, p, body, a, .white
{
  color: white;
}

#content{
  min-height:40px;
}

#header{


}
#fotter{
  background-color: #311C28;
  height:40px;
  border-top:1px solid #666666;
  text-align:center;
  color:#666666;
  font-size: 14px;
  padding:10px;
}
#content .grid
{
  width:100%;
}
#content .grid .left
{
    width:300px;
    border-right:1px solid #666666;
    background:

    url('/img/1/dis.fon_02.png') /* Путь к фоновому изображению */
    repeat-x;
}
#content .grid .center
{
  /*
    background:
    #333333
    url('/img/1/dis_20.png')
    no-repeat
    right top;
  */
  background:     #333333;
  vertical-align:top;


}
.caption
{
  background:     #000000;
  padding:        10px;
  font-size:      20px;
  font-weight:    bold;
}

#content .grid .center .center-content
{
}

#header .grid
{

}
#left-top, #left-center, #search-fields,#header .grid
{
  border-bottom:1px solid #666666;
}
#header .grid .center
{
  border-right:1px solid #666666;
  border-left:1px solid #666666;
}
#header .grid .left
{
    width:35%;
}
#header .grid .right
{
    width:40%;
}
.top-menu-button
{
   background:
    #281721 /* Цвет фона */
    url('/img/1/dis.button.bg.gif') /* Путь к фоновому изображению */
    no-repeat
    center bottom; /* Повторять фон по вертикали */
   text-align:center;
   padding:20px;
   font-size:20px;
}
.top-menu-button a:hover, .left-menu-button a:hover{  text-decoration:underline; }
.top-menu-button a,.left-menu-button a             {  text-decoration:none;}

.left-menu-button
{
    background:
    #281721 /* Цвет фона */
    url('/img/1/dis.button.bg.gif') /* Путь к фоновому изображению */
    no-repeat
    center bottom; /* Повторять фон по вертикали */

   padding:30px 20px 30px 40px;
   font-weight:bold;
   font-size:28px;
}
#left-bottom
{
  min-height: 50px;
}


#left-center
{
  background-color: #481832;
}
#left-center .brands td
{
  padding:20px;
}

.specs-small, .specs-big, #left-center .brands td
{
  text-align:center;
}

#search-fields
{
  padding:15px;
  background-color: #37192A;
}
#search-fields .grid td {
  padding:5px;
}
#search-fields .grid td input, #search-fields .grid td select
{
  width:100%;
}


.specs-big img
{
  border:2px solid white; margin:10px;
}

.specs-small img
{
  border:2px solid white; margin:5px;
}

.center-bottom
{
  border-top: 2px solid #cccccc;
}

body
{
  font-size: 14px;
  font-family: tahoma, arial, verdana;
}


.brand_div
{
  background-color: #333333;
  font-size: 25px;
  font-weight:bold;

  color: #ffffff;
  width:99%;
}
.brand_div td { padding:10px; }
.fl{float:left;}
.brand_div a{color: #ffffff;}
.model_div
{
  background-color: #cccccc;
  font-size: 18px;
  font-weight:bold;
  padding:5px;
  padding-left:30px;
  color: #333333;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  width:99%;
}
.model_div td { padding:5px; padding-left:30px; }
.model_div a{color: #333333; }
a:hover {color:red;}


.th
{
  font-weight:bold;
  text-align:center;
  border-bottom: 1px solid #555555;
}
#table_borders .td{
  font-size: 14px;
}
#repare_grid td, #parts_grid td
{
}
.padding{ padding:10px; }
.td          { height: 20px; }
.th .td      { background-color: #333333; }
.tr_even .td { background-color: #555555; }
.tr_odd .td  { background-color: #606060; }

#news_preview td { padding:10px;}
img{border:0px;}