*
{
padding:0;
margin:0;

}
a:hover{
  text-decoration:none;
  color:#cccccc;
}
a.active
{
  color:#FECA45;
}

body
{
  background-color: #761D4F;
}
table {  width:100%; }
div, td, p, body, a, .white
{
  color: white;
}

#content{
  min-height:40px;
}

#header{


}
#fotter{
  background-color: #311C28;
  height:40px;
  border-top:1px solid #666666;
  text-align:center;
  color:#666666;
  font-size: 14px;
  padding:10px;
}
#content .grid
{
  width:100%;
}
#content .grid .left
{
    width:300px;
    border-right:1px solid #666666;

}
#content .grid .center
{
    background:
    url('/DIS/imgs/dis_20.gif') /* Путь к фоновому изображению */
    no-repeat
    right top; /* Повторять фон по вертикали */
    vertical-align:top;
}

#header .grid
{
  border-bottom:1px solid #666666;
}
#header .grid .center
{
  border-right:1px solid #666666;
  border-left:1px solid #666666;
}
#header .grid .left
{
    width:35%;
}
#header .grid .right
{
    width:40%;
}
.top-menu-button
{
   background:
    #281721 /* Цвет фона */
    url('../imgs/dis.button.bg.gif') /* Путь к фоновому изображению */
    no-repeat
    center bottom; /* Повторять фон по вертикали */
   text-align:center;
   padding:20px;
   font-size:20px;
}
.top-menu-button a:hover, .left-menu-button a:hover{  text-decoration:underline; }
.top-menu-button a,.left-menu-button a             {  text-decoration:none;}

.left-menu-button
{
    background:
    #281721 /* Цвет фона */
    url('../imgs/dis.button.bg.gif') /* Путь к фоновому изображению */
    no-repeat
    center bottom; /* Повторять фон по вертикали */

   padding:30px 20px 30px 40px;
   font-weight:bold;
   font-size:28px;
}


#left-top
{

  border-bottom:1px solid #666666;
}
#left-center{


    background-color: #481832;
}
#left-center .brands td
{
  padding:20px;
  text-align:center;

}
#search-fields  { padding:15px; background-color: #37192A;   border-bottom:1px solid #666666;  }
#search-fields .grid td {
  padding:5px;
}
#search-fields .grid td input, #search-fields .grid td select
{
  width:100%;
}